@import '../node_modules/bootstrap/dist/css/bootstrap.css';

@import url('https://fonts.googleapis.com/css2?family=Muli');

body { 
  font-family: 'Muli', sans-serif;
  font-size: 0.95rem;
  background-color: #f1f4f6;
}

.components-wrap {
  width: 100%;
  padding: 30px;
}

.content-wrap {
  -webkit-box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background-color: #ffffff;
  margin-bottom: 5em;
  padding: 20px;
}

.modal-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #343a40;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e8ebee;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.25rem 1.0rem;
}

.form-group > label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.card-profile-img {
  max-width: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

/* Bootstrap CSS Start */
.form-group > label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
  color: #000;
}
.btn {
  border-radius: 0em;
}
.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #202020;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000000;
  border-color: #202020;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #000000;
  border-color: #202020;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #272727;
  border-color: #272727;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #202020;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.btn-outline-primary {
  color: #000;
  border-color: #000
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #000;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.form-control {
  border-radius: 0em;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid black;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0rem;
}
.custom-control-label:hover {
  cursor: pointer;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #565657;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #646566;
  border-color: #646566;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f3f3f3;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #000000;
}